*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0efef;
}

.header {
  background-color: #ffffff;
  padding: 1em 8.5em;
  -webkit-animation: opening 1s ease-in;
          animation: opening 1s ease-in;
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
}

.header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .logo-right {
  opacity: 0.9;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.header .logo-right:hover {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.header-right .menu label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: rotating infinite 2s linear alternate;
          animation: rotating infinite 2s linear alternate;
  -webkit-transform-origin: center;
          transform-origin: center;
  transform-box: fill-box;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  text-decoration: none;
  height: 3rem;
  width: 3rem;
  opacity: 0.8;
  border-radius: 60%;
  background-color: #ff9100;
  color: white;
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  font-size: 1.8rem;
  font-weight: bold;
  margin-left: 1em;
}

.header-right .menu label:hover {
  opacity: 1;
}

.logo {
  height: 3em;
}

.logo-right {
  height: 2em;
}

.main {
  display: -ms-grid;
  display: grid;
  height: 45em;
  -ms-grid-columns: 25% 25% 30% 20%;
      grid-template-columns: 25% 25% 30% 20%;
  -ms-grid-rows: 30% 15% 15% 15% 15% auto;
      grid-template-rows: 30% 15% 15% 15% 15% auto;
  margin: 8em;
}

.item-a {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  position: relative;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.item-b {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 5;
  position: relative;
}

.item-c {
  background-color: white;
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 5;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 2;
  position: relative;
}

.item-c::before {
  content: "PHP";
  background-color: green;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
}

.item-c:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.item-d {
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 2;
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 7;
  position: relative;
}

.item-e {
  -ms-grid-column: 2;
      grid-column-start: 2;
  grid-column-end: 3;
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 7;
  background-color: white;
  position: relative;
}

.item-e::before {
  content: "JAVA";
  background-color: mediumspringgreen;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
}

.item-e:hover::before {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}

.item-f {
  -ms-grid-column: 3;
      grid-column-start: 3;
  grid-column-end: 4;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 7;
  background-color: white;
  position: relative;
}

.item-f::before {
  content: "PHP";
  background-color: blueviolet;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.item-f:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.item-g {
  font-size: 0.5em;
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 2;
      grid-row-start: 2;
  grid-row-end: 4;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.item-g::before {
  content: "Events";
  background-color: yellowgreen;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.item-g:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.item-h {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  background-color: white;
  position: relative;
  overflow: hidden;
}

.item-h::before {
  content: "Blog";
  background-color: yellow;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.item-h:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.item-i {
  -ms-grid-column: 4;
      grid-column-start: 4;
  grid-column-end: 5;
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 7;
  background-color: white;
  position: relative;
}

.item-i::before {
  content: "Contacts";
  background-color: tomato;
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition: 0.2s ease-out;
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-origin: right;
          transform-origin: right;
}

.item-i:hover::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
}

.box {
  font-size: 1.1rem;
}

#menu-button {
  position: absolute;
  left: -9999px;
  top: -9999px;
}

.menu {
  position: relative;
}

#menu {
  display: none;
}

#menu-button:checked ~ #menu {
  display: block;
  -webkit-animation: appearing 1s ease-out;
          animation: appearing 1s ease-out;
  position: absolute;
  top: 3.5em;
  right: 0;
  background-color: white;
  padding: 1em 1em 0 1em;
  -webkit-box-shadow: 0 10px 20px #7a7a7a;
          box-shadow: 0 10px 20px #7a7a7a;
  line-height: 1.5em;
}

#menu-button:checked ~ #menu span {
  color: gray;
  white-space: nowrap;
  padding: 2em;
}

#menu-button:checked ~ #menu li {
  list-style: none;
  padding: 0.5em 0em;
  cursor: pointer;
}

#menu-button:checked ~ #menu li:hover {
  background-color: #f8f8f8;
}

.menu-item {
  display: block;
}

@-webkit-keyframes appearing {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appearing {
  0% {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

@-webkit-keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    background-color: red;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    background-color: blue;
  }
}

@keyframes rotating {
  0% {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
    background-color: red;
  }
  100% {
    -webkit-transform: rotateZ(360deg);
            transform: rotateZ(360deg);
    background-color: blue;
  }
}

@-webkit-keyframes opening {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes opening {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: center;
          transform-origin: center;
  -webkit-transition: -webkit-transform 0.8s .2s;
  transition: -webkit-transform 0.8s .2s;
  transition: transform 0.8s .2s;
  transition: transform 0.8s .2s, -webkit-transform 0.8s .2s;
}

.scene:hover .card {
  -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 2em;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  cursor: default;
}

.card__face img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.card__face button {
  background-color: #00aeff;
  color: white;
  width: 25%;
  height: 15%;
  border: none;
  cursor: pointer;
}

.card__face button:hover {
  background-color: blue;
}

.card__face--front {
  background: white;
  z-index: 1;
}

.card__face--back {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  z-index: 0;
}

.item-b .card__face--front {
  background-color: #00aeff;
}

.item-d .card__face--front {
  background-color: hotpink;
}

.alerts-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.alert {
  padding: 1em;
}

.alert .error {
  color: white;
  background-color: rgba(255, 10, 10, 0.247);
}

.alert .success {
  color: white;
  background-color: rgba(0, 255, 0, 0.342);
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
/*# sourceMappingURL=style.css.map */