*, ::before, ::after {box-sizing: border-box;
margin: 0;padding: 0; list-style: none; text-decoration: none;}

:root {
    font-size: 16px;
}

body { 
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f0efef;
}

.header {
  background-color: #ffffff;
  padding: 1em 8.5em;
  animation: opening 1s ease-in;
  position: fixed;
  width: 100vw;
  z-index: 100;
  top: 0;
}

.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-right{
    display: flex;
    align-items: center;
}


.header .logo-right{
    opacity: 0.9;
    transition: 0.2s ease-out;
    transform: scale(0.9);
    &:hover {
        opacity: 1;
        transform: scale(1);
    }
}

.header-right .menu label{
    display: flex;
    justify-content: center;
    animation: rotating infinite 2s linear alternate;
    transform-origin: center;
    transform-box: fill-box;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    height: 3rem;
    width: 3rem;
    opacity: 0.8;
    border-radius: 60%;
    background-color: rgb(255, 145, 0);
    color: white;
    transition: 0.2s ease-out;
    font-size: 1.8rem;
    font-weight: bold;
    margin-left: 1em; 
    &:hover {
        opacity: 1;
    }
   
}


.logo{
    height: 3em;
}

.logo-right{
    height: 2em;  
}

.main {
    display: grid;
    height: 45em;
    grid-template-columns: 25% 25% 30% 20%;
    grid-template-rows: 30% 15% 15% 15% 15% auto;
    margin: 8em;
}


.item-a {
    grid-column-start: 1;
    grid-column-end: 2;
    position: relative;
    grid-row-start: 1;
    grid-row-end: 3;
  }

  .item-b {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    position: relative;
  }

  .item-c {
    background-color: white;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
    position: relative;
  }

.item-c::before {
  content: "PHP";
  background-color: green;
  transform: scale(1);
  transition: 0.2s ease-out;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  transform-origin: right top;
}

.item-c:hover::before {
  transform: scale(0);
  
}

  .item-d {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 7;
    position: relative;
  }

  .item-e {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 5;
    grid-row-end: 7;
    background-color: white;
    position: relative;
  }

  .item-e::before {
    content: "JAVA";
    background-color: mediumspringgreen;
    transform: scaleY(1);
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: bottom;
  }
  
  .item-e:hover::before {
    transform: scaleY(0);
  } 

  .item-f {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 7;
    background-color: white;
    position: relative;
  }

  .item-f::before {
    content: "PHP";
    background-color: blueviolet;
    transform: scale(1);
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transform-origin: right bottom;
  }
  
  .item-f:hover::before {
    transform: scale(0);
    
  }

  .item-g {
    font-size: 0.5em;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color: white;
    position: relative;
    overflow: hidden;
  }

  .item-g::before {
    content: "Events";
    background-color: yellowgreen;
    transform: scaleX(1);
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: right;
  }
  
  .item-g:hover::before {
    transform: scaleX(0);
  } 



  .item-h {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 4;
    grid-row-end: 6;
    background-color: white;
    position: relative;
    overflow: hidden;
  }
  .item-h::before {
    content: "Blog";
    background-color: yellow;
    transform: scaleX(1);
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: right;
  }
  
  .item-h:hover::before {
    transform: scaleX(0);
  } 

  .item-i {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: white;
    position: relative;
  }

  .item-i::before {
    content: "Contacts";
    background-color: tomato;
    transform: scaleX(1);
    transition: 0.2s ease-out;
    width: 100%;
    height: 100%;
    position: absolute;
    transform-origin: right;
  }
  
  .item-i:hover::before {
    transform: scaleX(0);
  }    

  .box {
      font-size: 1.1rem;
  }

#menu-button {
    position:absolute;
    left:-9999px;
    top:-9999px;
}

.menu {
    position: relative;
    }
#menu {
    display:none;
}

#menu-button:checked ~ #menu {
    display:block;
    animation: appearing 1s ease-out;
    position: absolute;
    top: 3.5em;
    right: 0;
    background-color: white;
    padding: 1em 1em 0 1em;
    box-shadow: 0 10px 20px rgb(122, 122, 122);
    line-height: 1.5em;
}

#menu-button:checked ~ #menu span{
  color: gray;
  white-space: nowrap;
  padding: 2em;
}

#menu-button:checked ~ #menu li{
  list-style: none;
  padding: 0.5em 0em;
  cursor: pointer;
  &:hover {
    background-color: rgb(248, 248, 248);
  }
}



.menu-item {
  display: block;
}

@keyframes appearing {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes rotating {
  0% {
    transform: rotateZ(0);
    background-color: red;
  }
  100% {
    transform: rotateZ(360deg);
    background-color: blue;
  }
}

@keyframes opening {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}



.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center;
  transition: transform 0.8s .2s;
}

.scene:hover .card {
  transform: rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  color: black;
  font-size: 2em;
  backface-visibility: hidden;
  cursor: default;
}

.card__face img{
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.card__face button{
  
  background-color: rgb(0, 174, 255);
  color: white;
  width: 25%;
  height: 15%;
  border: none;
  cursor: pointer;
  &:hover{
    background-color: blue;
  }
}

.card__face--front {
  background: white;
  z-index: 1;
}

.card__face--back {
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  transform: rotateY(180deg);
  z-index: 0;
}

.item-b .card__face--front{
  background-color: rgb(0, 174, 255);
}

.item-d .card__face--front{
  background-color: hotpink;

}

.alerts-container {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 15em;
  display: flex;
  align-content: space-between;
}

.alert{
  padding: 1em;
}

.alert .error {
  color: white;
  background-color: rgba(255, 10, 10, 0.247);
}

.alert .success {
  color: white;
  background-color: rgba(0, 255, 0, 0.342);
}

.footer {
  display: flex;
  justify-content: center;
}

